:root {
    font-size: 10px;
}

body {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

i {
    list-style: none;
  }

  a:link,
  a:visited {
      text-decoration: none;
      color: white;
  }